@mixin red-opacity {
  background-color: #ff0000;
  opacity: 0.5;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
    main {
      flex-grow: 1;
  }
}
.choice {
display: flex;
justify-content: space-around;
align-items: center;
padding: 1rem;
  a {
    width: 22%;
    height: 19rem;
    background-size: cover;
    position: relative;
    &::after {
      position: absolute;
      width: 100%;
      height: 3rem;
      @include red-opacity;
      display: hidden;
    &:hover::after {
      width: 100%;
      height: 3rem;
      @include red-opacity;
      }
    }
  }
}
body {
background: url("../src/audrey-hepburn-window-shopping.jpg") no-repeat;
background-size: cover;
font-family: Arial;
}
header {
  @include red-opacity;
  height: 3rem;
  width: 100%;
  .menu {
    display: flex;
    justify-content: flex-end;
    a {
      color: white;
      text-decoration: none;
      margin: 1rem;
      &:hover {
        color: white;
        font-weight: bold;
        opacity: 1;
      }
    }
  }
}
.wrapper {
  display: flex;
  margin: 5rem auto;
}
.contacts {

}
.phone, .address, .map, .work_hours {
  display: flex;
  padding: 1rem;
}
.round {
  height: 2rem;
  width: 2rem;
  @include red-opacity;;
  border-radius: 100%;
  text-align:center;
  & i {*fa}-lg {
  display: inline-block;
  color: white;
  vertical-align: middle;
 }
}
.bigfigures {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}
.map {
  box-shadow: 1 1 #ff0000;
}
